{% extends 'base-page.html' %}
{% load static %}

{% block title  %}
Детали рецепта
{% endblock title %}

{% block container  %}
<div class="hero-wrap hero-bread" style="background-image: url('{% static 'img/bg-66.jpg' %}');">
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-9 ftco-animate text-center">
                <h1 class="mb-0 bread">Рецепт "{{recipe.name}}"</h1>
                <p class="breadcrumbs"><span class="mr-2"><a href="{% url 'index' %}">Рецепты</a></span>
                    <span>Рецепт</span></p>
            </div>
        </div>
    </div>
</div>

<section class="ftco-section ftco-no-pb ftco-no-pt bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-5 p-md-5 img img-2 d-flex justify-content-center align-items-center"
                 style="background-image: url('{{ recipe.image_thousand_on_thousand.url }}');">
                <a href="{{ recipe.video_url }}"
                   class="icon popup-vimeo d-flex justify-content-center align-items-center">
                    <span class="icon-play"></span>
                </a>
            </div>
            <div class="col-md-7 py-5 wrap-about pb-md-5 ftco-animate">
                <div class="heading-section-bold mb-5 mt-md-5">
                    <div class="ml-md-0">
                        <h2 class="mb-4">Рецепт<br><span>{{recipe.name}}</span></h2>
                    </div>
                </div>
                <div class="pb-md-5">
                    <p>{{recipe.description}} Для этого нам понадобится:</p>
                    <ul>
                        {% for value in recipe.product_list.all %}
                        <li><a href="{% url 'detail' value.code %}">{{ value.name }}</a></li>
                        {% endfor %}

                    </ul>
                    <p>Пошаговый рецепт</p>
                    <p>{{ recipe.recipe_note|linebreaks }}</p>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock container  %}

